<!DOCTYPE html>
<html ng-app="idlecampus">
<head>
<title>developer</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= include_gon %>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 <body ng-controller="xmpp" ng-init="attach()">
<div id='header' data-role='nav-links'>
    <%= render 'layouts/header' %>
  </div>

  <div id='flash'>
   <% if flash[:notice] %>
    <p id="notice" ><%= flash[:notice] %></p> 
   <% elsif flash[:alert] %>
    <p id="alert" ><%= flash[:alert] %></p> 
   <% end %>
  </div>

  <%= yield %>
</body>
</body>
</html>
